.header {
    &__top {

        min-height: 30px;
    }
    &__middle {
        display: flex;
        
    }
    &__bottom {
        margin-top: 1em;
        min-height: 50px;
    }
}

.logo {
    margin: 2em;
    
    &__image {
        height: 60px;
        width: 143px;

    }
}

.main-menu-block {
    
}
.main-menu {
    
}